<div class="container-fluid navColor">
    <div class="row">
        <div class="col-md-4 search">
            <h4><span class="border border-secondary" style="padding: 1em;"><strong>Web Mercado API </strong></span></h4>
            <h6>By: Mateo Llano</h6>
        </div>
        <div class="col-xs-8 search">

            <input class="form-control size" type="search" (keyup.enter)="search(word.value)" placeholder="Ingresa el producto ...  " aria-label="Search" #word>

        </div>
        <div class="col-xs-4 search searchColor" style="height: 50%;">
            <button class="btn btn-outline" (click)="search(word.value)"><i
          style="color: white;">Buscar</i></button>
        </div>
    </div>
</div>