/* You can add global styles to this file, and also import other style files */

.down {
    position: absolute;
    bottom: 0px;
    margin: 2em;
}

.navColor {
    background-color: #ffe600;
}

.loading {
    text-align: center;
    margin-top: 5em;
}

.title {
    vertical-align: middle;
    text-align: center;
    margin-top: 1em;
}

.searchColor {
    background-color: #2d3277;
}

.web-bottom {
    bottom: 0;
    position: absolute;
    text-align: center;
    margin: 2em;
}

.pagination {
    position: fixed;
    bottom: 0;
    text-align: center;
    margin: auto;
}

@media (max-width: 600px) {
    .size {
        width: 80%;
        margin-left: 20px;
        ;
    }
    .search {
        margin-top: 2em;
        margin-bottom: 1em;
        text-align: center;
    }
    .alertProducts {
        margin-top: 2em;
        text-align: center;
    }
    .results {
        margin-top: 1em;
    }
    .size-img {
        width: 40%;
    }
    .card-height {
        min-height: 26em;
    }
}

@media (min-width: 600px) {
    .size {
        width: 90%;
    }
    .search {
        margin-top: 3em;
        margin-bottom: 3em;
        text-align: center;
    }
    .searchContent {
        /* margin: 3em; */
        margin-left: 8em;
    }
    .alertProducts {
        margin: 3em;
        text-align: center;
    }
    .results {
        margin: 2em;
        text-align: center;
        /* margin-left: ce; */
    }
    .size-img {
        width: 100%;
    }
    .card-height {
        min-height: 20em;
    }
}